@font-face {
	font-family: 'Arimo-Bold';
	src: url('../fonts/Arimo-Bold/Arimo-Bold.eot');
	src: url('../fonts/Arimo-Bold/Arimo-Bold.woff') format('woff'), url('../fonts/Arimo-Bold/Arimo-Bold.ttf') format('truetype'), url('../fonts/Arimo-Bold/Arimo-Bold.svg') format('svg');
}
@font-face {
	font-family: 'ChangaOne';
	src: url('../fonts/ChangaOne/ChangaOne-Regular.eot');
	src: url('../fonts/ChangaOne/ChangaOne-Regular.woff') format('woff'), url('../fonts/ChangaOne/ChangaOne-Regular.ttf') format('truetype'), url('../fonts/ChangaOne/ChangaOne-Regular.svg') format('svg');
}
@font-face {
	font-family: 'Comfortaa-Regular';
	src: url('../fonts/Comfortaa/Comfortaa-Regular.eot');
	src: url('../fonts/Comfortaa/Comfortaa-Regular.woff') format('woff'), url('../fonts/Comfortaa/Comfortaa-Regular.ttf') format('truetype'), url('../fonts/Comfortaa/Comfortaa-Regular.svg') format('svg');
}
body {
	background: #BBB2BF url(../images/bg-header.gif) repeat-x top center;
	line-height: 1;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
#header {
	margin: 0 auto;
	padding: 0;
	width: 960px;
}
#header .section {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#header .section .logo {
	float: left;
	margin: 0;
	padding: 20px 0 0 5px;
	width: 315px;
}
#header .section .logo a {
	background: url(../images/bg-logo.png) repeat-x top left;
	color: #fff;
	display: block;
	font-family: 'Arimo-Bold';
	font-size: 50px;
	font-weight: normal;
	height: 130px;
	line-height: 130px;
	margin: 0;
	padding: 0;
	text-align:center;
	text-decoration: none;
	text-transform: uppercase;
	width: 300px;
}
#header .section ul {
	display: inline-block;
	float: right;
	margin: 0;
	overflow: hidden;
	padding: 114px 0 0;
}
#header .section ul li {
	background: url(../images/bg-nav-right.gif) no-repeat top right;
	display: inline-block;
	float: left;
	list-style: none;
	margin: 0 10px;
	padding: 0;
}
#header .section ul li a {
	background: url(../images/bg-nav-left.gif) no-repeat top left;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	height: 30px;
	letter-spacing: 0.05em;
	line-height: 30px;
	margin: 0;
	padding: 0 15px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
#header .section ul li a:hover {
	color: #ccc;
}
#header .section ul li.selected {
	background: url(../images/bg-nav-right-selected.gif) no-repeat top right;
}
#header .section ul li.selected a {
	background: url(../images/bg-nav-left-selected.gif) no-repeat top left;
}

#header .article {
	background: #fff;
	border: 2px solid #5fb3bd;
	border-radius: 4px;
	margin: 50px auto 28px;
	overflow: hidden;
	padding: 0;
	width: 936px;
}
#header .article img {
	display: block;
	float: left;
	margin: 0 50px 0 0;
	padding: 0;
}
#header .article h1 {
	color: #1b2130;
	font-family: 'ChangaOne';
	font-size: 40px;
	font-weight: normal;
	margin: 0;
	line-height: 50px;
	padding: 110px 30px 30px;
}











